#Page-Title {
  margin-left: 200px;
  margin-right: auto;
  width: 1000px;
  text-align: center;
  padding-top: none;
  padding-bottom: none;
}

#Navigation {
  width: 200px;
  position: fixed;
}

body > div {
  display: inline-block;
  border: 1px dashed black;
}

#Dates {
  display: inline-block;
  border: 1px dashed black;
  width: 100px;
  text-align: center;
  height: 300px;
  position: relative;
}

#Post-Content {
  border: 1px dashed black;
  display: inline-block;
  width: 900px;
  margin-left: 200px;
}